@model IEnumerable<Spyder.Models.Cliente>
@{
    Layout = null;
}

<!DOCTYPE html>
<div id="messages"></div>
<div id="tbllocal"></div>
<br />
<div>
    <button id="btnincluir">Incluir</button>
    <button id="bt_edit">Editar</button>
    <button id="btnexcluir">Excluir</button>
</div>
<div id="edit_dialog" title="Product">
    <form id="product_form">
        <div class="form_entry">
            <label class="required">Brand:</label>
            <input id="nptbrand" name="brand" maxlength="25" required></input>
        </div>
        <div class="form_entry">
            <label class="required">Year:</label>
            <input id="nptyear" name="year" maxlength="6" required></input>
        </div>
        <div class="form_entry">
            <label class="required">Color:</label>
            <input id="nptcolor" name="color" maxlength="20" required></input>
        </div>
        <div class="form_entry">
            <label class="required">Vin:</label>
            <input id="nptvin" name="vin" maxlength="10" required></input>
        </div>
        <div class="pui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button id="bt_save" type="submit">Salvar</button>
            <button id="bt_cancel" type="button">Cancelar</button>
        </div>
    </form>
</div>